/* purgecss start ignore */
html, body {
  min-height: 100%;
  height: 100%;
  font-size: 12px
}



@media (min-width: 576px) {
  html, body {
    font-size: 12px
  }
}

@media (min-width: 768px) {
  html, body {
    font-size: 13px
  }
}

@media (min-width: 992px) {
  html, body {
    font-size: 14px
  }
}

@media (min-width: 1200px) {
  html, body {
    font-size: 16px
  }
}

body {
  margin: 0;
  height: 100%;
  padding: 0;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.bg-image {
  background-image: url("/images/Fed1.jpg");
}

.bg-logo {
  background-image: url("/images/FedLogo.png");
}

.text-inherit {
  color: inherit;
}

.object-contain {
  object-fit: contain;
}

.text-shadow {
  text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.8);
}
/* purgecss end ignore */